<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ site.asset_url }}/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css">
    <link rel="preload" as="style" onload="this.rel='stylesheet'"
        href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap">
    <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css">-->

    <title>kongchu2</title>
</head>