<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="삶을 풍족하게 만들기 위해 노력하는 kongchu2의 블로그입니다.">
    <link href="{{ site.asset_url }}/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap">
    <title>kongchu2</title>
</head>